@charset "UT-8";

/*
Em HTML id em CSS #
Em HTML Class em CSS .
*/

body{
    background-color: rgb(195, 248, 185);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(35, 160, 4);
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2.basico{
    color: black;
}
.intermediario{
    color: yellow;
}
.avançado{
    color: red;
}
h2{
    color: black;
}
.destaque{
    background-color: rgb(240, 240, 169);
}